
body {
  display: flex;
  align-items: left;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.typing-bar-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.typing-bar-container_world {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.typing-bar {
  flex-grow: 1;
}
.typing-bar_world {
  flex-grow: 1;
}
.enter-button {
  margin-left: 5px;
}
.enter-button_world {
  margin-left: 5px;
}
.output {
  width: 100%;
  height: 70%;
  overflow-y: auto;
  padding: 5px;
  border: 1px solid #ccc;
}

.output-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 20px;
}

.entry {
  display: block;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}

.delete-button {
  border-radius: 50%;
  margin-right: 5px;
}
.container_variable {
      display: flex;
    justify-content: space-between;
    padding: 10px;
width: 100%
    }
    .stage_container{
      cursor: move;
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  width: 200px;
  height: 150px;
    }
    .stage_tag {
      position: absolute;
      top: -20px;
      left: 0;
      text-align: center;
      width: 100%;
      font-weight: bold;
    }
    .circle-button {
      cursor: move;
  position: absolute;

      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .plus-sign {
      font-size: 20px;
      font-weight: bold;
      color: black;
    }
    .popup{
      background:rgba(0,0,0,0.6);
      position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
      border:1px solid rgb(0, 0, 0);
      
      display: none;
    }
    .popup-content{

  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
      height: 250px;
      width:500px;
      background: #fff;
      padding:20px;
      border-radius:5px;
      position:relative;
    }
    #popup_input{
      /* display:block;
      width: 90%;
      height: 90% ;
      border:1px solid gray;
      max-width: 60px;
  overflow-y: auto;
  overflow-wrap: break-word; */
  text-align: left;

  padding-bottom: 40px;
  max-width: 90%;
  width: 90%;
      height: 70% ;
  overflow-y: auto;
  overflow-wrap: break-word;
  border: 1px solid black;
    }
    .close-button {
      cursor: pointer;
      font-size: 1.25rem;
      font-weight: bold;
      position: absolute;
      top: -15px;
      right:-15px;
      background: #fff;
      height: 20px;
      box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
      width:20px;
    }
    